3) Some preliminary analysis / plots / stats that you can provide at this point to illustrate interesting features of that data. These don't need to be complicated at this point. You can also tell us what type of data you're working with (numeric, nominal, text, images), how much missing data your dataset seems to have, etc.

In [3]:
import pandas as pd
df = pd.read_csv('./us_perm_visas.csv', low_memory=False)

In [4]:
df.head()

,add_these_pw_job_title_9089,agent_city,agent_firm_name,agent_state,application_type,case_no,case_number,case_received_date,case_status,class_of_admission,...,ri_pvt_employment_firm_to,ri_us_workers_considered,schd_a_sheepherder,us_economic_sector,wage_offer_from_9089,wage_offer_to_9089,wage_offer_unit_of_pay_9089,wage_offered_from_9089,wage_offered_to_9089,wage_offered_unit_of_pay_9089
0,NaN,NaN,NaN,NaN,PERM,A-07323-97014,NaN,NaN,Certified,J-1,...,NaN,NaN,NaN,IT,75629.0,NaN,yr,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,PERM,A-07332-99439,NaN,NaN,Denied,B-2,...,NaN,NaN,NaN,Other Economic Sector,37024.0,NaN,yr,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,PERM,A-07333-99643,NaN,NaN,Certified,H-1B,...,NaN,NaN,NaN,Aerospace,47923.0,NaN,yr,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,PERM,A-07339-01930,NaN,NaN,Certified,B-2,...,NaN,NaN,NaN,Other Economic Sector,10.97,NaN,hr,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,PERM,A-07345-03565,NaN,NaN,Certified,L-1,...,NaN,NaN,NaN,Advanced Mfg,100000.0,NaN,yr,NaN,NaN,NaN

In [5]:
df.tail()

,add_these_pw_job_title_9089,agent_city,agent_firm_name,agent_state,application_type,case_no,case_number,case_received_date,case_status,class_of_admission,...,ri_pvt_employment_firm_to,ri_us_workers_considered,schd_a_sheepherder,us_economic_sector,wage_offer_from_9089,wage_offer_to_9089,wage_offer_unit_of_pay_9089,wage_offered_from_9089,wage_offered_to_9089,wage_offered_unit_of_pay_9089
374357,NaN,Buena Park,Law Offices of Yohan Lee,CA,NaN,NaN,A-16363-85407,2016-12-29,Withdrawn,NaN,...,NaN,NaN,N,NaN,"28,330.00",NaN,Year,NaN,NaN,NaN
374358,NaN,Seattle,MacDonald Hoague & Bayless,WA,NaN,NaN,A-16271-56745,2016-12-30,Withdrawn,L-1,...,NaN,Y,N,NaN,"122,000.00","142,000.00",Year,NaN,NaN,NaN
374359,NaN,Schaumburg,International Legal and Business Services Grou...,IL,NaN,NaN,A-16354-82345,2016-12-30,Withdrawn,H-1B,...,NaN,NaN,N,NaN,"79,082.00","79,082.00",Year,NaN,NaN,NaN
374360,NaN,LOS ANGELES,LAW OFFICES OF JAMES S HONG,CA,NaN,NaN,A-16357-84250,2016-12-30,Withdrawn,B-2,...,NaN,NaN,N,NaN,"37,981.00",NaN,Year,NaN,NaN,NaN
374361,NaN,Phoenix,"Fragomen, Del Rey, Bernsen & Loewy, LLP",AZ,NaN,NaN,A-16279-59292,2016-12-30,Withdrawn,H-1B,...,NaN,NaN,N,NaN,"84,926.00","121,500.00",Year,NaN,NaN,NaN

In [8]:
print (len(df))

374362

There are total 374362 number of records and 154 features in this dataset. This dataset includes numeric and nominal values.

In [10]:
print ('Below is the list of features:')
print(df.columns.values)

Below is the list of features:
['add_these_pw_job_title_9089' 'agent_city' 'agent_firm_name'
 'agent_state' 'application_type' 'case_no' 'case_number'
 'case_received_date' 'case_status' 'class_of_admission'
 'country_of_citizenship' 'country_of_citzenship' 'decision_date'
 'employer_address_1' 'employer_address_2' 'employer_city'
 'employer_country' 'employer_decl_info_title' 'employer_name'
 'employer_num_employees' 'employer_phone' 'employer_phone_ext'
 'employer_postal_code' 'employer_state' 'employer_yr_estab'
 'foreign_worker_info_alt_edu_experience'
 'foreign_worker_info_birth_country' 'foreign_worker_info_city'
 'foreign_worker_info_education' 'foreign_worker_info_education_other'
 'foreign_worker_info_inst' 'foreign_worker_info_major'
 'foreign_worker_info_postal_code' 'foreign_worker_info_rel_occup_exp'
 'foreign_worker_info_req_experience' 'foreign_worker_info_state'
 'foreign_worker_info_training_comp' 'foreign_worker_ownership_interest'
 'foreign_worker_yr_rel_edu_completed' 'fw_info_alt_edu_experience'
 'fw_info_birth_country' 'fw_info_education_other' 'fw_info_postal_code'
 'fw_info_rel_occup_exp' 'fw_info_req_experience' 'fw_info_training_comp'
 'fw_info_yr_rel_edu_completed' 'fw_ownership_interest'
 'ji_foreign_worker_live_on_premises' 'ji_fw_live_on_premises'
 'ji_live_in_dom_svc_contract' 'ji_live_in_domestic_service'
 'ji_offered_to_sec_j_foreign_worker' 'ji_offered_to_sec_j_fw'
 'job_info_alt_cmb_ed_oth_yrs' 'job_info_alt_combo_ed'
 'job_info_alt_combo_ed_exp' 'job_info_alt_combo_ed_other'
 'job_info_alt_field' 'job_info_alt_field_name' 'job_info_alt_occ'
 'job_info_alt_occ_job_title' 'job_info_alt_occ_num_months'
 'job_info_combo_occupation' 'job_info_education'
 'job_info_education_other' 'job_info_experience'
 'job_info_experience_num_months' 'job_info_foreign_ed'
 'job_info_foreign_lang_req' 'job_info_job_req_normal'
 'job_info_job_title' 'job_info_major' 'job_info_training'
 'job_info_training_field' 'job_info_training_num_months'
 'job_info_work_city' 'job_info_work_postal_code' 'job_info_work_state'
 'naics_2007_us_code' 'naics_2007_us_title' 'naics_code' 'naics_title'
 'naics_us_code' 'naics_us_code_2007' 'naics_us_title'
 'naics_us_title_2007' 'orig_case_no' 'orig_file_date'
 'preparer_info_emp_completed' 'preparer_info_title' 'pw_amount_9089'
 'pw_determ_date' 'pw_expire_date' 'pw_job_title_908' 'pw_job_title_9089'
 'pw_level_9089' 'pw_soc_code' 'pw_soc_title' 'pw_source_name_9089'
 'pw_source_name_other_9089' 'pw_track_num' 'pw_unit_of_pay_9089'
 'rec_info_barg_rep_notified' 'recr_info_barg_rep_notified'
 'recr_info_coll_teach_comp_proc' 'recr_info_coll_univ_teacher'
 'recr_info_employer_rec_payment' 'recr_info_first_ad_start'
 'recr_info_job_fair_from' 'recr_info_job_fair_to'
 'recr_info_on_campus_recr_from' 'recr_info_on_campus_recr_to'
 'recr_info_pro_org_advert_from' 'recr_info_pro_org_advert_to'
 'recr_info_prof_org_advert_from' 'recr_info_prof_org_advert_to'
 'recr_info_professional_occ' 'recr_info_radio_tv_ad_from'
 'recr_info_radio_tv_ad_to' 'recr_info_second_ad_start'
 'recr_info_sunday_newspaper' 'recr_info_swa_job_order_end'
 'recr_info_swa_job_order_start' 'refile' 'ri_1st_ad_newspaper_name'
 'ri_2nd_ad_newspaper_name' 'ri_2nd_ad_newspaper_or_journal'
 'ri_campus_placement_from' 'ri_campus_placement_to'
 'ri_coll_tch_basic_process' 'ri_coll_teach_pro_jnl'
 'ri_coll_teach_select_date' 'ri_employee_referral_prog_from'
 'ri_employee_referral_prog_to' 'ri_employer_web_post_from'
 'ri_employer_web_post_to' 'ri_job_search_website_from'
 'ri_job_search_website_to' 'ri_layoff_in_past_six_months'
 'ri_local_ethnic_paper_from' 'ri_local_ethnic_paper_to'
 'ri_posted_notice_at_worksite' 'ri_pvt_employment_firm_from'
 'ri_pvt_employment_firm_to' 'ri_us_workers_considered'
 'schd_a_sheepherder' 'us_economic_sector' 'wage_offer_from_9089'
 'wage_offer_to_9089' 'wage_offer_unit_of_pay_9089'
 'wage_offered_from_9089' 'wage_offered_to_9089'
 'wage_offered_unit_of_pay_9089']

In [28]:
#check for missing data
features_missing_counts = pd.Series(0, index=list(df))
for feature in df:
    features_missing_counts[feature] = df[feature].isna().sum()
print ('Missing values for each feature:')
print (features_missing_counts)

Missing values for each feature:
add_these_pw_job_title_9089               332168
agent_city                                162908
agent_firm_name                           167365
agent_state                               166123
application_type                          239093
case_no                                   239093
case_number                               135269
case_received_date                        135271
case_status                                    0
class_of_admission                         22845
country_of_citizenship                     20633
country_of_citzenship                     353788
decision_date                                  0
employer_address_1                            42
employer_address_2                        149193
employer_city                                 14
employer_country                          135343
employer_decl_info_title                  135308
employer_name                                 12
employer_num_employees                    135349
employer_phone                            135305
employer_phone_ext                        350901
employer_postal_code                          37
employer_state                                42
employer_yr_estab                         135404
foreign_worker_info_alt_edu_experience    285737
foreign_worker_info_birth_country         285734
foreign_worker_info_city                  135297
foreign_worker_info_education             135309
foreign_worker_info_education_other       370422
                                           ...
refile                                    256283
ri_1st_ad_newspaper_name                  137634
ri_2nd_ad_newspaper_name                  137666
ri_2nd_ad_newspaper_or_journal            141448
ri_campus_placement_from                  344359
ri_campus_placement_to                    344369
ri_coll_tch_basic_process                 367349
ri_coll_teach_pro_jnl                     221788
ri_coll_teach_select_date                 368632
ri_employee_referral_prog_from            305641
ri_employee_referral_prog_to              305640
ri_employer_web_post_from                 237726
ri_employer_web_post_to                   237748
ri_job_search_website_from                177571
ri_job_search_website_to                  177581
ri_layoff_in_past_six_months              135303
ri_local_ethnic_paper_from                253481
ri_local_ethnic_paper_to                  253481
ri_posted_notice_at_worksite              135360
ri_pvt_employment_firm_from               357920
ri_pvt_employment_firm_to                 357922
ri_us_workers_considered                  357129
schd_a_sheepherder                        135288
us_economic_sector                        245294
wage_offer_from_9089                      114771
wage_offer_to_9089                        300728
wage_offer_unit_of_pay_9089               115916
wage_offered_from_9089                    259715
wage_offered_to_9089                      343347
wage_offered_unit_of_pay_9089             303663
Length: 154, dtype: int64

In [29]:
print (features_missing_counts.idxmax() + ': ' + str(features_missing_counts['orig_file_date']))

orig_file_date: 374081

orig_file_date has most missing values.

In [50]:
import numpy as np
petitionByEmployer=df.groupby('employer_name').size()
type(petitionByEmployer)
sortedPetitionByEmployer = petitionByEmployer.sort_values(ascending=False)

In [51]:
print ('Top 10 employer with petition:')
sortedPetitionByEmployer.head(10)

Top 10 employer with petition:

employer_name
COGNIZANT TECHNOLOGY SOLUTIONS US CORPORATION    12081
MICROSOFT CORPORATION                             8369
INTEL CORPORATION                                 6564
GOOGLE INC.                                       5165
AMAZON CORPORATE LLC                              3719
INFOSYS LTD.                                      2717
CISCO SYSTEMS, INC.                               2634
ORACLE AMERICA, INC.                              2584
APPLE INC.                                        2583
QUALCOMM TECHNOLOGIES INC.                        1710
dtype: int64